<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitrateCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BitrateCalc.Properties.Settings>
            <setting name="MinComplexity" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="MaxComplexity" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="RemoteManifest" serializeAs="String">
                <value>http://jvance.com/files/BitrateCalc.manifest</value>
            </setting>
            <setting name="AutoCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </BitrateCalc.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
