<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitrateCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BitrateCalc.Properties.Settings>
            <setting name="MinComplexity" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="MaxComplexity" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="RemoteManifest" serializeAs="String">
                <value>http://jvance.com/files/BitrateCalc.manifest</value>
            </setting>
            <setting name="AutoCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoDuration" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="VideoFramerate" serializeAs="String">
                <value>23.976</value>
            </setting>
            <setting name="VideoCodec" serializeAs="String">
                <value>H264</value>
            </setting>
            <setting name="VideoComplexity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VideoDimension" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="Container" serializeAs="String">
                <value>Mkv</value>
            </setting>
            <setting name="CalcBy" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TotalBytes" serializeAs="String">
                <value>4699717632</value>
            </setting>
            <setting name="VideoBytes" serializeAs="String">
                <value>4581111808</value>
            </setting>
            <setting name="AudioBytes" serializeAs="String">
                <value>403200000</value>
            </setting>
            <setting name="TotalSizeUnit" serializeAs="String">
                <value>GB</value>
            </setting>
            <setting name="VideoSizeUnit" serializeAs="String">
                <value>Kbps</value>
            </setting>
            <setting name="AudioSizeUnit" serializeAs="String">
                <value>Kbps</value>
            </setting>
            <setting name="AudioCodec" serializeAs="String">
                <value>Ac3</value>
            </setting>
            <setting name="ExtraSizeUnit" serializeAs="String">
                <value>MB</value>
            </setting>
            <setting name="VideoHasBframes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitsPerPixel" serializeAs="String">
                <value>0.216</value>
            </setting>
            <setting name="QualityEstimate" serializeAs="String">
                <value>6.69</value>
            </setting>
            <setting name="ShowTotalSeconds" serializeAs="String">
                <value>False</value>
            </setting>
        </BitrateCalc.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
